.about{
   &__content{
      display: flex;
      justify-content: space-between;

   }
   .item{
      display: flex;
      flex-direction: column;
      max-width: 340px;
   }
   &__l{
      align-items: flex-start;
      text-align: start;
      
   }
   &__r{
      align-items: flex-end;
      text-align: end;
   }
   &__title{
      font-size: 2.7rem;
      font-family: "Open Sans";
      font-weight: bold;
      font-style: italic;
      line-height: 1.2;
      margin-bottom: 30px;
      &--blue{
         color: #0694f8;
      }
      &--red{
         color: red;
      }
   }
   &__text{
      font-size: 16px;
      color: gray;
      line-height: 1.4;
      font-family: "Open Sans";
   }
   &__list{
      margin-top: 20px;
      li{
         font-size: 14px;
         margin-bottom: 10px;
      }
      &--l{
         li:before:
      }
   }
}

