.burger{
   height: 70px;
   border: 1px solid grey;
   position: fixed;
   top: 0px;
   background-color: #fff;
   z-index: 100;
   width: 100%;
   &__item--top{
      height: 70px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 70px;
      .burger__left{
         display: flex;
         justify-content: start;
         align-items: center;
         padding: 0px 20px;
      }
      .burger__right{
         display: flex;
         justify-content: center;
         align-items: center;
      }
      .burger__button{
         position: relative;
         &::before{
            content: url(../img/menu_icon.png);
            position: absolute;
            top: 0px;
         }
         &::after{
            content: url(../img/menu_icon.png);
            position: absolute;
            bottom: -10px;
         }
      }
   }
}