.burger{
   height: 70px;
   border: 1px solid grey;
   position: fixed;
   top: 0px;
   background-color: #fff;
   z-index: 100;
   &__item{
      height: 70px;
      display: grid;
      grid-template-columns: 1fr 70px;
   }
}