.footer{
   height: 160px;
   background-color: #fff;
   .container{
      height: 100%;
   }
   &__inner{
      display: grid;
      height: 100%;
      grid-template-columns: 1fr 1fr 1fr;
   }
   &__text{
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &
}