.header{
   height: 120px;
}

.nav{
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
   &__item{
      display: flex;
      flex-direction: column;
      justify-content: end;
   }
}