.header{
   height: 100vh;
   background-image: url(../img/bg-header.png);
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: 0 120px;
   &::after{
      content
   }
}

.nav{
   height: 120px;
   padding: 33px;
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
   position: absolute;
   width: 100%;
   z-index: 2;
   background-color: #fff;
   &__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
      color: gray;
      &:hover{
         color: red;
      }
   }
   &__text{
      margin-top: 10px;
      font-family: 'inglobal';
   }
}



.main{
   img{
      object-fit: cover;
      width: 100%;

   }
   &__img{
      max-height: 530px;
      position: relative;
   }
   &__text{
      font-size: 50px;
      font-family: "Open Sans";
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-style: italic;
      line-height: 1.2;
      text-align: center;
      text-shadow: 3px 3px 5px black;
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) rotate(-15deg);
      
   }
   &__l {
      font-size: 30px;
      font-family: "Open Sans";
      color: rgb(255, 67, 30);
      font-weight: bold;
      font-style: italic;
      line-height: 0.8;
      left: 60px;
      position: absolute;
      background-image: url(../img/bubbles-copy.png);
      background-size: 100%;
      width: 140px;
      height: 90px;
      background-repeat: no-repeat;
      div{
         transform: rotate(23deg) translateY(20px) translateX(48px);
      }
    }
    &__r {
      font-size: 30px;
      font-family: "Open Sans";
      color: rgb(255, 67, 30);
      font-weight: bold;
      font-style: italic;
      line-height: 0.8;
      right: 60px;
      position: absolute;
      background-image: url(../img/bubbles.png);
      background-size: contain;
      width: 150px;
      height: 120px;
      background-repeat: no-repeat;
      div{
         transform: rotate(-23deg) translateY(37px) translateX(10px);
      }
    }
}

