.general{
   padding: 260px 0 100px 0;
   &__content{
      display: grid;
      grid-template-columns: 50% 50%;
   }
   &__left{
      
   }
   &__title{
      font-size: 2.7rem;
      font-family: "Open Sans";
      color: #0694f8;
      font-weight: bold;
      font-style: italic;
      line-height: 1.2;
      margin-bottom: 30px;
   }
   &__text{
      font-size: 1.2rem;
      font-style: italic;
      line-height: 1.4;
      font-family: "Open Sans";
   }
   &__right{
      width: 50%;
   }
}

.form{
   padding: 55px 30px 45px 30px;
   border: 1px solid grey;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   border-radius: 3px;
   &__title{
      font-size: 18px;
      font-family: "Open Sans";
      color: rgb(80, 80, 80);
      font-weight: bold;
      line-height: 1.333;
      text-align: center;
   }
}

 
