.form__popap{
   position: fixed;
   left: -320px;
   top: 20%;
   z-index: 1000;
   background-color: #fff;
   transition: all .4s ease;
   
}

.form__popap.active{
   left: 0px;
   transition: all .4s ease;
   .popap__button{
      transform: rotate(90deg) ;
      transition: all .4s ease;
   }
}

.popap{
   
   &__show{
      position: absolute;
      transform: rotate(-90deg);
      background: linear-gradient(45deg, rgb(6, 148, 248),rgb(149, 207, 248), rgb(6, 83, 248));
      width: 200px;
      height: 50px;
      display: grid;
      grid-template-columns: 80% 20%;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      left: 243px;
      top: 73px;
      div{
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }
   &__text{
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-right: 1px solid white;
   }
   &__button{
      margin: 5px;
      transform: rotate(-90deg) ;
      border-radius: 50%;
      border: 1px solid rgb(133, 171, 241);
      width: 28px;
      height: 28px;
      transition: all .4s ease;
      background: linear-gradient(45deg,rgb(149, 207, 248), rgb(6, 83, 248));
      &--img{
         object-fit: cover;
         transform: translateX(-2px);
      }
   }
}


.Rectangle_13 {
   background-image: -moz-linear-gradient( 135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgb(255,255,255) 51%, rgba(255,255,255,0) 100%);
   background-image: -webkit-linear-gradient( 135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgb(255,255,255) 51%, rgba(255,255,255,0) 100%);
   background-image: -ms-linear-gradient( 135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgb(255,255,255) 51%, rgba(255,255,255,0) 100%);
   box-shadow: inset 0px -2px 0px 0px rgba(5, 104, 181, 0.004);
   position: absolute;
   left: 0px;
   top: 263px;
   width: 50px;
   height: 200px;
   z-index: 292;
 }
 